* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Ana Sayfa */
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0071bb; /* Maçkolik Blue */
    color: white;
}

.stream-buttons button {
    background-color: white;
    color: #0071bb;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.stream-buttons button:hover {
    background-color: #005f8a; /* Darker Blue on Hover */
}

/* Yayın Sayfası */
.stream-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-menu {
    background-color: #0071bb; /* Maçkolik Blue */
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.top-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: #005f8a; /* Darker Blue on Hover */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.top-menu a:hover {
    background-color: #003f5c; /* Even darker blue on hover */
}

.stream-content {
    flex: 1;
    width: 100%;
}

.stream-content iframe {
    width: 100%;
    height: 100%;
}
